<ion-view title="Explore">
  <ion-content class="has-header padding">
    <!-- <h1>Explore</h1> -->
    <div ng-repeat="item in items" class="list card">

	  <div class="item item-avatar" ng-click="item.collapsed = !item.collapsed">
	    <img src="img/{{item.logo}}">
	    <h2>{{item.title}}</h2>
	    <p>
	    	<small ng-show="item.orig" style="text-decoration:line-through;">{{item.orig}}</small>
	    	{{item.price}} 
	    	<small>{{item.subtitle}}</small>
    	</p>
	  </div>

	  <div class="item item-body" ng-hide="item.collapsed">
	    <img class="full-image" src="img/{{item.image}}">
	    <p>{{item.details}}</p>
	    <p>
	      <a href="#" class="subdued">{{item.wishes}} Wishes</a>
	      <a href="#" class="subdued">{{item.gifts}} Gifts</a>
	    </p>
	    <div ng-repeat="thing in item.ongoing" class="list">
		    <a class="item item-thumbnail-left item-icon-right" href="#">
		      <img src="img/{{thing.wisher.pic}}">
		      <h2>{{thing.wisher.name}}</h2>
		      <p>{{thing.remaining}} left ({{thing.contributors.length}} contributors <img ng-repeat="p in thing.contributors" style="max-width:20px; max-height:20px" src="img/{{p.pic}}" title="{{p.name}}">)</p>
	          <i class="icon ion-bag"></i>
		    </a>
	    </div>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-plus"></i>
	      Wish it
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-bag"></i>
	      Gift it
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>

	</div>
	<p>&nbsp;</p>
  </ion-content>
</ion-view>
